<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>pageServlet</servlet-name>
        <servlet-class>glasspages.PageServlet</servlet-class>
        <init-param>
            <param-name>source</param-name>
            <param-value>WEB-INF/js/PageServlet.js;js/modules/manifest.json;WEB-INF/js/modules/manifest.json</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>error</param-name>
            <param-value>/error</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <system-properties>
        <property name="java.util.logging.config.file" value="WEB-INF/logging.properties"/>
    </system-properties>

</web-app>